:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 60px; // Adjust this value based on your header's height
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
}

$color1: white;
$color2: rgb(46, 46, 46);
$color3: rgb(0, 104, 136);

$black: #202A25;
$purple: #5F4BB6;
$blue: #86A5D9;
$cyan: #26F0F1;
$green: #C4EBC8;


@import "mixin";
@import "login";
@import "home";
@import "header";
@import "cabCard";
@import "carousel";
@import "cabDetail";
@import "profile";
@import "orderCard";
@import "bookingDetail";
@import "driverHome";
@import "home1";
@import "myride";
@import "loader";
@import "footer";















.heading {
    @include heading;
    margin: 1rem 0;
    text-align: center;
}


