.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 24px;
        z-index: 1;
        border-radius: 50%;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        &--left {
            left: 10px;
        }

        &--right {
            right: 10px;
        }
    }

    &__image-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        scroll-behavior: smooth;
        overflow: hidden;
    }

    &__image {
        min-width: 100%;
        transition: opacity 0.5s ease-in-out;
        border-radius: 10px;
    }
}
